* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

main {
  max-width: 700px;
}

/* HEADER */

header {
  display: inline-flex;
}

.header-me__8-D {
  margin: 1px 30px 40px 0px;
  color: #0C1618;
  font-style: italic;
}

.home {
  font-size: 16px;
}

.navbar {
  list-style: none;
}

.navbar li:hover, .navbar li:focus {
  background-color: #ADC698;
}

.navbar a.active {
  font-style: italic;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

/* INDEX */

.index-body {
  margin: 15px 0;
}

/* ABOUT */
.about-pic {
  margin-bottom: 5px;
}

.about-body {
  margin: 15px 0;
  line-height: 1.4;
}

.about-body a:hover{
  background-color: black;
  color: #ffffff;
}

/* PROJECTS */
.projects-body {
  margin: 15px 0;
  line-height: 1.4;
}

.projects-body p {
  margin: 10px 0 15px 0;
}

.projects-body a:hover{
  background-color: black;
  color: #ffffff;
}

/* AUDIO */
.audio-body {
  margin: 15px 0;
  line-height: 1.4;
}

.audio-body p {
  margin: 10px 0 15px 0;
}

.audio-body a:hover{
  background-color: black;
  color: #ffffff;
}

/* FOOTER */

footer {
  border-top: 1.5px solid;
  padding-top: 10px;
  font-size: 1.03em;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.footer-nav li {
  padding-right: 10px;
}

.icon-links {
  font-size: 1.75em;
}

.footer-text {
  padding-top: 3px;
}

 
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    font-size: .9em;
  }

  a {
    font-size: .9em;
  }

  /* Mobile Header */
  .header-me__8-D {
    margin: 1px 20px 40px 0px;
  }

  .icon-links {
    max-width: 37px;
  }

  .navbar a:hover{
    background-color: none;
  }

  .navbar a:focus {
    background-color: none;
  }

  /* Mobile About */
  .about-body {
    line-height: 1.45;
  }

  /* Mobile Audio */
  .audio-body {
    line-height: 1.45;
}
}